* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

main {
  width: 80%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

/* BARRA DE NAVEGACION */
header {
  width: 80%;
  height: 60px;
  margin: 10px auto 0px;
  background-color: rgba(255, 255, 255);
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
}

#logo {
  margin: auto auto auto 20px;
  width: 50%;
}
#logo a {
  color: #0E2046;
  font-family: LeelawUI;
  font-size: 1.25em;
  font-weight: bold;
}

.topnav1 {
  margin: auto;
  width: 70%;
  text-align: center;
  position: absolute;
}

.topnav1 a {
  color: #0E2046;
  font-family: LeelawUI;
  padding: 20px 20px;
  text-decoration: none;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease
}

.topnav1 a:hover {
  color: #D85F11;
}

#icons {
  margin: auto 20px auto auto;
  width: 10%;
  text-align: end;
}

#icons i {
  margin: auto 5px;
  color: #0E2046;
}

a .fa-bars {
  display: none;
}

#icons .fa-bars:hover{
  color: #D85F11;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}
#icons .fa-cart-shopping:hover{
  color: #D85F11;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}


/* BANNER */

#intro {
  display: flex;
  justify-content: flex-start;
  background-image: url(./images/pexels-rachel-claire-5865282-main.jpg);
  background-repeat: repeat;
  background-position: left;
  width: 100%;
  overflow: hidden;
  margin: 10px auto;
  animation: animation-intro 1s ease;
}

#intro>div {
  width: 45%;
  padding: 5%;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0));
}

#intro h1 {
  color: rgb(255, 255, 255);
  font-size: 4em;
  font-family: LeelawUI;
  text-align: left;
  margin: 150px 0px 25px 0px
}

#intro p {
  text-shadow: 5px 5px 5px rgb(22, 21, 21);
  text-align: left;
}



h3 {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}

section {
  overflow: hidden;
  background-color: #ff7f68;
  padding: 5%;
  text-align: center;
}

/* Carta Sidenav */
#carta {
  display: flex;
  flex-direction: row;
  background-color: #0E2046;
  margin: 10px auto;
}

#carta .contenidos-carta{
  height: 100%;
  width: 85%;
}

.sidenav a {
  display: block;
  color: #fff;
  padding: 25px 60px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease
}

.sidenav a:hover {
  color: #0E2046;
  background-color: rgb(255, 255, 255);
}


.container-01 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container-01>div {
  width: 24%;
  background-color: #ba544e;
  margin: 1.5%;
  padding: 1.5%;
  border-radius: 10px;
}

.container-01 img {
  width: 90%;
  border-radius: 20px;
  box-shadow: 5px 5px 8px #00000085;
  margin: 16px 0px;
}

h2 {
  color: rgb(255, 255, 255);
}

p {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-family: "Pathway Extreme", sans-serif;
  font-weight: 200;
  text-align: left;
  line-height: 1.5rem;
  text-align: center;
}

.container-01 a {
  filter: none;
}

.container-01 a:hover img {
  filter: sepia(100%);
  transform: scale(1.2);
  position: relative;
}




/* footer */
.texto-footer {
  color: #fff;
  padding: 5px 15px;
  font-size: 20px;
}

footer {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  background-color: rgba(56, 10, 10, 0.8);
}

/* FIJO */
.fijo {
  color: white;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 15px;
  right: 5px;
}

/* ENLACES */
a.boton {
  color: #fff;
  background-color: #0E2046;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.85em;
  font-family: LeelawUI;
  display: inline-block;
  margin: 10px auto;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

a.boton:hover {
  color: #D85F11;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgb(55, 0, 0);
  transform: scale(1.1);
}

/* MEDIA QUERIES - MOBILE */
@media screen and (max-width: 768px) {

  header,
  main,
  footer {
    width: 100%;
  }

  header {
    margin: 10px 0px 0px;
  }

  .container-01>div,
  .container-02>div {
    width: 94%;
  }

  h1 {
    font-size: 2.6rem;
    line-height: 3.8rem;
    text-align: center;
  }

  h3 {
    font-size: 2rem;
    line-height: 4rem;
  }

  p {
    text-align: center;
  }

  h2 {
    margin: 12px auto;
  }

  #intro {
    background-position: bottom;
  }

  #intro div {
    width: 100%;
    padding-top: 275px;
    text-align: center;
  }

  #intro h1 {
    text-align: center;
    margin: 80px 0px 25px 0px;
  }

  #intro p {
    text-align: center;
  }

  #icons {
    width: 25%;
  }

  .topnav1 {
    display: none;
  }

  .topnav1 a {
    display: block;
  }

  .topnav2 {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    top: 60px;
  }

  a .fa-bars {
    display: inline;
  }

  /* Carta sidenav */
  #carta {
    display: block;
  }
  .sidenav{
    text-align: center;
  }
  #carta .contenidos-carta{
    height: 100%;
    width: 100%;
  }
}

/* FUENTES DE LETRA Y ROOT */

@font-face {
  font-family: LeelawUI;
  src: url(./fonts/LeelawUI.ttf);
}
:root {
  font-size: 16px;
}

/* ANIMACIONES */

@keyframes animation-intro {
  from {
    filter: opacity(0%);
  }
  to {
    filter: opacity(100%); 
  }
}